<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="./favicon.png" />
    <title>RestoHunt</title>

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-duotone-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-thin.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-regular.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-light.css"
    />
  </head>
  <body>
    <!-- Skip To Content Button -->
    <a href="#content" class="skip-link">Skip to content</a>
    <!-- End Skip To Content Button -->

    <!-- Loading Indicator -->
    <div id="loading-indicator"></div>
    <!-- End Loading Indicator -->

    <!-- Navbar -->
    <nav>
      <div class="brand">
        <a href="#" class="poppins-bold">RestoHunt</a>
      </div>
      <div class="menu">
        <a href="#/"><i class="fa-regular fa-house"></i> Home</a>
        <a href="#"><i class="fa-regular fa-heart"></i> Favorite</a>
        <a href="https://aliefadam-portfolio.netlify.app/" target="_blank"
          ><i class="fa-regular fa-user"></i> About Us
        </a>
      </div>
      <button class="hamburger-menu" aria-label="Hamburger Menu">
        <i class="fa-sharp fa-solid fa-bars hamburger-menu-icon"></i>
      </button>
    </nav>
    <!-- End Navbar -->

    <section id="content"></section>

    <!-- Footer -->
    <footer>
      <span>Copyright &copy; 2024 - RestoHunt</span>
    </footer>
    <!-- End Footer -->
  </body>
</html>
